body
{
	/* gestion de l'arriére plan*/
	
	background-image: url("/img/rouge2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.page
{
	border: 3px solid #4F5152;
	margin: 50px 290px 50px 290px;
	background-color: #212121;
}

header
{
	
	height: 300px;

	/* gestion du fond du header*/
	
	background-image: url("/img/circus.jpg");
	background-repeat: no-repeat;
	background-position: center;
	margin: 0px 290px 0px 290px;

	border: 3px solid black;	
}

h1
{
	text-align: center;
}

nav
{
	margin: 0px 290px 0px 290px;

	/*gestion du fond*/
	background-color: black;

}

nav ul
{
	display: flex;
	list-style-type: none;

}

nav a
{
	padding-left: 35px;
	font-size: 1.2em;
	color: #868E91;
	text-decoration: none;
}

nav a:hover
{
	color: white;
	text-decoration: underline;
}

section
{
	display: flex;
	justify-content: center;
}

article
{
	width: 100%;
}



.number, .pt
{
	margin-bottom: 15px;
	list-style-type: none;
	color: #868E91;
	font-size: 1.2em;
}

.number a
{
	text-decoration: none;
	font-size: 1em;
	color: #868E91;
}

em
{
	text-align: left;
	color: red;
}

.title, #title_aside
{
	font-size: 1.6em;
	color: #868E91;
	text-align: center;
	text-decoration: underline;
}

#page_chinese, #page_tamer, #page_clowns, #page_artists
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tof 
{
	margin: 25px 25px 25px 25px;
	
}

.description_chinese
{
	margin: 50px 25px 0px 25px;
	color: #868E91;
	font-size: 1.3em;
	text-align: justify;
}

/*clowns.html*/

.description_clown, .description_tamer, .contenu, .bandeau_msg, .description_construction
{
	margin: 35px 25px 0px 25px;
	color: #868E91;
	font-size: 1.2em;
	text-align: justify;
}

#msg
{
	width: 500px;
	height: 300px;
}

#send
{
	text-align: center;
	font-size: 1.2em;
	width: 150px;
	height: 30px;


}

form
{
	color:  #868E91;
	font-size: 1.2em;
	margin: 10px 50px 10px 50px;

}

#name
{
	margin-left: 64px;
}

.description
{
	display: flex;
	justify-content: center;
}

.clown, .tiger, .pers
{
	display: flex;

}

aside 
{
	border-left: 3px solid #868E91; 
	color: #868E91;
	width: 40%;
	
}

#program
{
	width: 60%;
}

#button
{
	text-align: center;
}

.bandeau_msg
{
	background-color: black;
}