body
{
	/* gestion de l'arriére plan*/
	background-color: black;
	background-image: url("img/rouge2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	
}

.page
{
	border: 3px solid #4F5152;
	margin: 50px 290px 50px 290px;
	background-color: #212121;

	
}

header
{
	
	height: 300px;

	/* gestion du fond du header*/
	background-color: white;
	background-image: url('img/circus4.jpg');
	background-repeat: no-repeat;
	background-position: center;
	margin: 0px 290px 0px 290px;

	border: 3px solid black;
	
}

h1
{
	text-align: center;
}

nav
{
	margin: 0px 290px 0px 290px;

	/*gestion du fond*/
	background-color: black;

}

nav ul
{
	display: flex;
	list-style-type: none;

}

nav a
{
	padding-left: 35px;
	font-size: 1.2em;
	color: #868E91;
	text-decoration: none;
}

nav a:hover
{
	color: white;
}

section
{
	display: flex;
	justify-content: center;
	
	
}

article
{
	
	width: 60%;
	background-image: url();
	

}
aside
{
	border-left: 3px solid #4F5152; 
	width: 40%
}

.number, .pt
{
	margin-bottom: 15px;
	list-style-type: none;

}

.pt
{
	color: #868E91;
	font-size: 1.2em;
}



.number a
{
	text-decoration: none;
	font-size: 1.2em;
	color: #868E91;
}

.title, #title_aside
{
	font-size: 1.6em;
	color: #868E91;
	text-align: center;
	text-decoration: underline;
}

#page_chinese
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tof 
{
	margin: 25px 25px 25px 25px;
	
}

.description_chinese
{
	margin: 50px 25px 0px 25px;
	color: #868E91;
	font-size: 1.2em;
	text-align: justify;
}

/*clowns.html*/

.description_clown, .description_tamer 
{
	margin: 35px 25px 0px 25px;
	color: #868E91;
	font-size: 1.2em;
	text-align: justify;
}


/*book.html*/
#msg
{
	width: 500px;
	height: 300px;
}

#send
{
	text-align: center;
	font-size: 1.2em;
	width: 150px;
	height: 30px;


}

form
{
	color:  #868E91;
	font-size: 1.2em;
}

#name
{
	margin-left: 64px;
}

.description
{
	display: flex;
	justify-content: center;
}
